/*Universal styles*/
* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Merriweather', serif;
    margin: 0 auto;
}

/*Header styles*/
header {
    background-color: #2d3945;
}

header h1 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    margin: 0 auto;
    font-size: 1.25rem;
    padding: 1.1em;
}

/*Main styles*/
section {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    border-bottom: solid 4px #2d3945;
}

section h2 {
    font-size: 1.25rem;
    color: #2d3945;
    padding: 1em 0 .5em;
}

section p {
    color: #8f8f8f;
    font-size: 14px;
}

/*Form styles*/
form {
    width: 94%;
    margin: 2em auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
}

legend {
    font-size: 1.25rem;
    color: #2d3945;
    padding: 1em 0;
}

.border {
    border-bottom: 2px solid #2d3945;
    padding: 0 0 2em 0;
}